@page "/ListarProductos"
@using ProyectoDigitalizacion2.Components.Models;
@inject ApplicationDbContext Db

<PageTitle>ListaProductos</PageTitle>

<h1>Lista Productos</h1>

<MudTable Items="productos" Dense="true">
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Nombre</MudTh>
        <MudTh>Cantidad</MudTh>
        <MudTh>Precio</MudTh>
        <MudTh>Acciones</MudTh>
    </HeaderContent>
    <RowTemplate Context="productos">
        <MudTd>@productos.Id</MudTd>
        <MudTd>@productos.Nombre</MudTd>
        <MudTd>@productos.Cantidad</MudTd>
        <MudTd>@productos.Precio</MudTd>
        <MudTd>
            <MudButton Color="Color.Error" OnClick="@(() => EliminarProducto(productos.Id))">Eliminar</MudButton>
        </MudTd>
    </RowTemplate>
</MudTable>

@code {
    private List<Productos> productos = new();

    protected override void OnInitialized()
    {
        productos = Db.Productos.ToList();
    }

    void EliminarProducto(int id)
    {
        var producto = Db.Productos.Find(id);
        if (producto != null)
        {
            Db.Productos.Remove(producto);
            Db.SaveChanges();
            productos = Db.Productos.ToList();
        }
    }

}