@page "/ListarUsuarios"
@using ProyectoDigitalizacion2.Components.Models;
@inject IDialogService DialogService
@inject ApplicationDbContext Db

<PageTitle>ListarUsuarios</PageTitle>
<h1>Lista Usuarios</h1>

<MudTable Items="usuarios" Dense="true">
    <HeaderContent>
        <MudTh>Id</MudTh>
        <MudTh>Nombre</MudTh>
        <MudTh>Email</MudTh>
        <MudTh>Contraseña</MudTh>
        <MudTh>Rol</MudTh>
        <MudTh>Acciones</MudTh>
        </HeaderContent>
    <RowTemplate Context="usuarios">
        <MudTh>@usuarios.Id</MudTh>
        <MudTd>@usuarios.Nombre</MudTd>
        <MudTd>@usuarios.Email</MudTd>
        <MudTd>@usuarios.Contraseña</MudTd>
        <MudTd>@usuarios.Rol</MudTd>
        <MudTd>
            <MudButton Color="Color.Error" OnClick="@(() => EliminarUsuario(usuarios.Id))">Eliminar</MudButton>
        </MudTd>
    </RowTemplate>
</MudTable>




@code{
    List<Usuario> usuarios = new();
    Usuario usuarioEditando = new();

  
     protected override void OnInitialized()
    {
        usuarios = Db.Usuarios.ToList();
    }
    
    
    void EliminarUsuario(int id)
    {
        var usuario = Db.Usuarios.Find(id);
        if (usuario != null)
        {
            Db.Usuarios.Remove(usuario);
            Db.SaveChanges();
            usuarios = Db.Usuarios.ToList();
        }
    }
}
